<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="isso" content="{{@root.arguments.isso}}"/>
    <meta name="isso-require-author" content="{{@root.arguments.isso-require-author}}"/>
    <meta name="isso-require-email" content="{{@root.arguments.isso-require-email}}"/>
    <meta name="isso-lang" content="{{@root.arguments.isso-lang}}"/>
    <meta name="isso-reply-to-self" content="{{@root.arguments.isso-reply-to-self}}"/>
    <title>
    {{#if blog.isHome}}
      {{blog.title}}
    {{else}}
      {{#if page.curPage}}
        {{blog.title}} - {{page.curPage}}
      {{else}}
        {{page.post.title}}
      {{/if}}
    {{/if}}
    </title>
    <meta name="description" content="{{#if page.post}}{{#if page.post.description}}{{page.post.description}}{{/if}}{{else}}{{blog.description}}{{/if}}" />

    <!-- Resources built by Grunt -->
    <link rel="stylesheet" type="text/css" href="{{asset "prebuilt/dist/base.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "prebuilt/dist/Diaspora.css"}}"/>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.3.41/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Grand+Hotel' type='text/css' />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Code+Pro' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/ocean.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{blog.title}} - RSS Feed" href="{{blog.url}}/rss/" />
  </head>
  <body class="loading">
    <div id="loader"></div>
    {{{content}}}
    <!-- Scripts -->
    <script type="text/javascript" src="{{asset "prebuilt/static/jquery.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "prebuilt/dist/plugin.js"}}"></script>
    <script type="text/javascript" src="{{asset "prebuilt/dist/Diaspora.js"}}"></script>
  </body>
</html>
