<div class="nav">
  {{> "navigation.hbs"}}
  <p>&copy; {{blog.title}}. Proudly powered by <a href="https://github.com/PeterCxy/Typeblog">Typeblog</a>.</p>
</div>
<div id="container">
  <div id="screen">
    <div id="mark">
      <div class="layer" data-depth="0.4">
        <img id="cover" crossorigin="anonymous" src="
        {{#with posts.1}}
        {{#if cover}}
        {{cover}}
        {{else}}
        {{#if @root.arguments.cover}}{{@root.arguments.cover}}{{else}}{{asset "prebuilt/images/default.jpg"}}{{/if}}
        {{/if}}
        {{/with}}
        "/>
      </div>
    </div>

    <div id="vibrant">
      <svg viewBox="0 0 2880 1620" height="100%" preserveAspectRatio="xMaxYMax slice">
        <polygon opacity="0.7" points="2000,1620 0,1620 0,0 600,0 "/>
      </svg>
      <div></div>
    </div>

    <div id="header">
      <div>
        <a class="text-logo" href="/">{{blog.title}}</a>
        <div class="icon-menu switchmenu"></div>
      </div>
    </div>

    {{#with posts.1}}
    <div id="post0">
      <p>{{date this.date "DD MMMM YYYY"}}</p>
      <h2><a class="posttitle" href="/{{url}}/">{{title}}</a></h2>
      <p>{{shorten contentStripped 50}}...</p>
    </div>
    {{/with}}
  </div>
  <div id="primary" style="display: none;">
  {{> "loop.hbs"}}
  </div>
  {{> "pagination.hbs"}}
</div>
<div id="preview" class="trans"></div>
